.img-logo {
    width: 50px;
}

.input-sm {
    max-width: 500px;
}

.icon-m {
    max-width: 200px;
}

.card-m {
    max-width: 500px;
}

.card-minw {
    min-width: 500px;
}
.h3-minw {
    min-width: 500px;
}